/* I'm a programmer, not a web designer. If you're one of the latter, 
** please accept my advance apologies for what you're about to read.
** Sorry.
**/

body {
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 500px;
    margin: 0 auto;
}

.centered {
    width: 500px;
    height: 600px;
    position: absolute;

    padding: 10px; 
    border: 1px solid black;
}

.centered canvas {
    position: absolute;
    left: 25%;
}

h1 {
    text-align: center;
}

.landing {
    border: 1px solid black;
    padding: 10px;

    position: absolute;
    width: 500px;
    height: 220px;
    margin: -110px auto 0 auto;
    top: 50%;
}

.landing button {
    width: 100%;
}
